html, body {
	margin: 0;
	font-family: 'Helvetica Neue';
	letter-spacing: 5px;
	text-align: center;
	width: 100%;
	font-weight: 200;
	line-height: 1.8;
}

#logo {
	margin-top: 100px;
	margin-bottom: 90px;
}

img {
	display: block;
	margin: 30px auto;
}

.full {
	width: 100%;
	float: left;
	overflow: hidden;
}

.inner {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

.contact {
	margin-top: 80px;
}