/*
Theme Name: Ocean Drive Living
Theme URI: http://wwww.oceandriveliving.co.uk;
Author: BrightByte Studio
Author URI: http://brightbyte.co.uk
Version: 1
*/

html, body {
	margin: 0;
	padding: 0;
	line-height: 1.8;
	font-family: "helvetica", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 12px;
	letter-spacing: 1px;
	background: #f9f9f9;
}

a {

}

/* Global Objects */

a {
	color: inherit;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	color: inherit;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

input, textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input:focus, textarea:focus  {
	outline: none;
}

input[type="text"], textarea {
	border: 0;
	padding: 5px 10px;
}

* {
	border-radius: 0 !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.button {
	background: #808282 !important;
	color: #fff !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	letter-spacing: 2px;
	padding: 5px 15px;
}

.button:hover {
	background: #9f9f9f !important;
}

/* Reusable */

.f-r {
	float: right;
}

.f-l {
	float: left;
}

/* Layout */

.full {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.full#title .inner {
	margin: 0 auto;

}

.inner {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	margin: 20px auto;
	position: relative;
}

.inner.reset {
	margin: 0 auto;
	position: relative;
}

.half {
	width: 50%;
	float: left;
	overflow: hidden;
	padding: 20px 20px 20px 0;
}

.quarter {
	width: 25%;
	float: left;
	overflow: hidden;
}

.last {
	padding-right: 0;
	padding-left: 20px;
}

.border_left {
	border-left: 1px solid #e7e6e6;
}

.border_top {
	border-top: 1px solid #e7e6e6;
}

.border_bottom {
	border-bottom: 1px solid #e7e6e6;
}

.padding_bottom {
	padding-bottom: 20px;
}

/* Global */

#social {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 7px;
}

#social li {
	float: left;
	margin-right: 40px;
}

#social li img {
	vertical-align: middle;
	position: relative;
	margin-top: -5px;
	margin-right: 5px;
}

#top {
	padding: 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: right;
	font-size: 9px;
	padding-top: 5px;
	border-bottom: 1px solid #e7e6e6;
	position: fixed;
	background: #fff;
	z-index: 10000;
	padding-bottom: 4px;
}

#top #logo {
	height: 15px;
	width: auto;
	margin: 0;
	margin-right: 30px;
	position: absolute;
	left: 50%;
	margin-left: -134px;
	margin-top: 2px;
	opacity: 0;
  -o-transition:0.5s;
  -ms-transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  /* ...and now for the proper property */
  transition:0.5s;
}

#top.drop #logo {
	display: block;
	opacity: 1;
}

#top .inner {
	padding: 0;
	padding-top: 5px;
	margin: 0 auto;
	padding-bottom: 10px;

}

#search {
	float: left;
	padding: 5px 10px;
	border: 1px solid #cecece;
	margin-top: -2px;
	text-transform: uppercase;
	font-family: inherit;
	letter-spacing: 2px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

.searchcontainer {
	float: left;
	width: auto;
	position: relative;
	width: 130px;
	top: 5px;
}

#cartinfo {
	margin-top: 20px;
	position: relative;
	top: 7px;
	font-weight: 600;
}

.searchcontainer img {

}

#searchsubmit {
	background: url(images/search-icon.png) no-repeat top left;
	width: 13px;
	height: 30px;
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
	margin-right: -3px;
	border: 0;
	padding: 0;
	-webkit-appearance: none;
	text-indent: -999em;
}

.menu-global-menu-container {
}

.fixed {
	position: fixed;
	z-index: 10000;
}

.globalnav.fixed {
	margin-top: 47px !important;
}

#header {
	overflow: visible;
	margin-top: 40px;
}

.globalnav {
	border-top: 1px solid #e7e6e6;
	border-bottom: 1px solid #e7e6e6;
	margin-top: 0 !important;
	background: #eeeeee;
}

.globalnav .inner {
	margin: 0 auto
}

#header .inner {
	overflow: visible;
}

#header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	padding: 0px 0;
}

#header ul li {
	display: table-cell;
	width: 1%;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 4px;
	position: relative;
}

#header ul li a {
	display: block;
	padding: 12px 0;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

#header ul li:hover a {
	background: #fff;
	border-left: 1px solid #e7e6e6;
	border-right: 1px solid #e7e6e6;
}


#header ul li ul {
	margin: 0;
	padding: 10px 18px;
	background: #fff;
	position: absolute;
	z-index: 10000;
	border: 0;
	overflow: visible;
	display: block;
	width: 250px;
	margin-top: -5px;
	border: 1px solid #e7e6e6;
	height: 290px;
	display: none;
}


#header ul li ul h1 {
	margin-top: 0;
	font-size: 15px;
	margin-bottom: 5px;
}

#logo {
	display: block;
	margin: 30px auto 40px auto;
}

.logoleft {
	width: 70%;
	float: left;
	overflow: hidden;
}

.logoleft img {
	max-width: 100%;
	float: left;
}

.logoright {
	width: 30%;
	float: left;
	box-sizing: border-box;
	padding-left: 32px;
	padding-top: 20px;
	text-transform: uppercase;
	line-height: 1;
	opacity: 0.8;
	font-size: 9px;
}

#basket_icon {
	position: relative;
	margin-right: 10px;
	top: 3px;
	height: 111px;
	width: auto;
	vertical-align: middle;
	position: relative;
	margin-top: -20px;
}

.sub-menu2 {
	margin-left: 248px !important;
	border-left: 0 !important;
}

#header ul li ul li {
	display: block;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: none;
	width: 100%;
	text-align: left;
}

#header ul li ul li a {
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #e7e6e6;
	width: 100%;
	display: block;
	padding-left: 15px;
	background: url(images/chevron.png) left no-repeat;
}

#header ul li:hover ul li a {
	border-left: 0;
	border-right: 0;
	background: url(images/chevron.png) left no-repeat;
}

#header ul li ul li:last-child a {
	border-bottom: 0;
}


#header ul li:hover ul {
	display: block;
}

#page h2 {
	text-transform: none;
}

#page .inner {
	padding-top: 0;
	margin-top: 0;
}

.innermain {
	background: #fff;
	padding: 30px;
	border-right: 1px solid #e7e6e6;
	border-left: 1px solid #e7e6e6;
	margin-bottom: 0;
}

#page .innermain {
	padding: 30px 50px;
}

.innermain .inner {
	width: 900px;
}

.woocommerce_page .inner {
	font-size: 11px;
}

.product_image img {
	border: 0 !important;
}

#footer {
	padding: 20px 30px;
	border-top: 1px solid #e7e6e6;
	background: #fff;
}

#footer.inner {
	padding: 0 !important;
	padding-top: 20px !important;
}

#footer #logo {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 0px 20px 0;
	width: 490px;
}

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	float: left;
	margin-right: 60px;
	text-align: left;
}

.copyright {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	color: #444;
	padding: 20px 0;
}

.ppt {
	display: none !important;
}

.pp_close {
	display: none !important;
}

.pp_description {
	text-transform: uppercase;
	letter-spacing: 3px;
}

.pp_pic_holder, .pp_woocommerce {
	top: 20px !important;
	z-index: 10001 !important;
}

.pp_overlay {
	background: #000 !important;
	z-index: 10000 !important;
}

.pp_expand {
	display: none !important;
}

.pp_arrow_next, .pp_arrow_previous {
height: 19px !important;
width: 21px !important;
}

.pp_details {
	line-height: 17px;
}

form.cart {
	border: 1px solid #e7e6e6;
	padding: 20px;
	background: #eeeeee;

}

/* Home */



#hero {
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #e7e6e6;
}

#hero img {
	width: 100%;
	height: auto;
}

#hero .image_container {
	width: 100%;
	height: 100%;
}

#hero .image_container .hover {
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(128,130,130,0.8);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	text-align: center;
}

#hero .image_container:hover .hover {
	opacity: 1;
}

#hero .image_container .hover h1 {
	color: #fff;
	font-size: 25px;
	position: relative;
	top: 50%;
	margin-top: -40px;
	font-weight: 500;
	letter-spacing: 13px;
}

#hero .image_container .hover h1 span {
	font-size: 13px;
	display: block;
	letter-spacing: 3px;
}

#hero .caption {
	border: 1px solid #e7e6e6;
	position: absolute;
	z-index: 1000;
	bottom: -195px;
	width: 900px;
	font-size: 13px;
	background: #fff;
	padding: 35px 35px 35px 35px;
  -o-transition:0.8s;
  -ms-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  /* ...and now for the proper property */
  transition:1s;
  border-top: 0;
  border-bottom: 0;
}

#hero:hover .caption {
	bottom: 0;
}

#hero .caption h1 {
	font-size: 25px;
	letter-spacing: 4px;
	margin-bottom: 0;
	line-height: 1;
	width: auto;
	display: table-cell;
}

#hero .caption h2 {
	margin-top: 0;
	font-size: 15px;
	letter-spacing: 4px;
	margin-bottom: 0;
	line-height: 1;
	margin-top: 10px;
}

#hero .caption .button {
	display: table-cell;
	margin-top: 20px;
}

#hero ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 360px;
	width: 100%;
	overflow: hidden;
}

#hero ul li {
	width: 100%;
	height: 360px;
	float: left;
	overflow: hidden;
}

ol.dots {
margin-top: 20px;
z-index: 1000;
margin-right: 32px;
text-align: right;
width: 100%;
overflow: hidden;
text-align: center;
position: absolute;
}

ol.dots li {
display: inline-block;
width: 13px;
height: 13px;
margin: 0 4px;
text-indent: 999em;
background: #000;
cursor: pointer;
-webkit-transition: background .5s, opacity .5s;
-moz-transition: background .5s, opacity .5s;
transition: background .5s, opacity .5s;
border-radius: 100%;
}

ol.dots li.active {
	opacity: 0.5;
}


.home .half .image_container {
	height: 280px;
	overflow: hidden;
	margin-bottom: 20px;
}

.home .half img {
	height: auto;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	max-height: 100%;
}

.home .half h1 {
	margin-bottom: 10px;
}

.home h1 {
	font-size: 13px;
	text-transform: uppercase;
	margin: 0;
}

.feature_boxes p {
	margin-top: 0px;
	margin-bottom: 0px;
}


.picks .quarter {
	text-align: center;
	padding: 20px;
	margin-top: 10px;
	position: relative;
	height: 198px;
}

.picks .quarter:hover .div_hover {
	opacity: 1;
}

.div_hover {
	display: block;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: -20px;
}

.picks .quarter img {
	max-width: 100%;
	height: auto;
	max-height: 100px;
	width: auto;
}

.picks .quarter h1 {
	font-size: 11px;
}

.picks .image_container {
	height: 120px;
	overflow: hidden;
	float: left;
	width: 100%;
}

/* WooCommerce */

.product_image {
height: 130px;
overflow: hidden;
display: table-cell;
vertical-align: middle;
text-align: center;
margin: 0 auto;
display: block;
width: 220px;
	overflow: hidden;
	display: table-cell; vertical-align: middle
}

.woocommerce-breadcrumb {

}

.single_add_to_cart_button {
	padding: 9px 20px !important;
	margin: 0 auto !important;
	display: block !important;
	float: none !important;
}

.woocommerce-message, .woocommerce-error {
	border-top: none !important;
	box-shadow: none !important;
	background: #e6e6e6 !important;
	color: #808282 !important;
	text-shadow: none !important;
	margin: 20px 0 !important;
}

.woocommerce-message:before, .woocommerce-error:before  {
	background: transparent !important;
	content: none !important;
}

.woocommerce-result-count {
	display: none;
}

.woocommerce-breadcrumb {
	display: none;

}

.product_image img {
	height: 100%;
	max-width: 100%;
	width: auto;
}

.woocommerce-main-image img {
	width: 430px !important
}

.mainimage {
	float: left;
	overflow: hidden;
	position: relative;
}

.thumbnails {
	float: left;
}

.product_container h3 {
	height: 53px;
	overflow: hidden;
}

.shop_table.cart {
	border: 0px !important;
}

.shop_table.cart th {
	display: none;
}

.updatecart {
	float: left;
	width: 100%;
	overflow: hidden;
	padding-top: 50px !important;
	text-align: right;
}

.shop_table.cart td {
	border: 0px !important;
	border-bottom: 1px solid #e7e6e6 !important;
}

.shop_table.cart img {
	width: 60px !important;
}

.added_to_cart {
	display: none !important;
}

.woocommerce form.checkout input, .woocommerce form.checkout textarea {
	border: 1px solid #e7e6e6;
	padding: 10px !important;
	color: #666;
}

.woocommerce form.checkout label {
	margin: 10px 0;
	text-transform: uppercase;
	font-size: 11px;
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img, .woocommerce div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page #content div.product div.images img  {
	box-shadow: none !important;
	vertical-align: middle;
	border: 1px solid #e7e6e6;
}

.woocommerce ul.products li.product a img {
	max-width: 100%;
	max-height: 130px;
	width: auto !important;
	height: auto !important;
	margin:  0 auto !important;
}

.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
	background: #808282 !important;
	color: #fff !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	letter-spacing: 2px;
}

.product_container {
	float: left;
	overflow: hidden;
	width: 100%;
}

#content .inner {
}

.woocommerce-result-count {
	float: none !important;
}

.woocommerce h2 {
	text-transform: uppercase !important;
}

.order_details {
	padding: 0;
}

address {
	font-style: normal !important;
}

dt {
	text-transform: uppercase;
}

dd {
	margin-left: 0;
}

.summary {
	text-align: left;
}

form.cart .button {
	margin: 0 !important;
	 text-align: left !important;
}

ul.products {
	margin-top: 10px !important;
	padding-top: 10px !important;
	float: left;
	border-top: 1px solid #f1f1f1;
}

ul.products li {
	text-transform: uppercase;
	position: relative;
	text-align: center;
	padding: 20px !important;
	min-height: 280px;
}

ul.products li:hover .div_hover {
	display: block;
}


ul.products li .add_to_cart_button {

}

ul.products li .add_to_cart_button:active {

}

.images {
	position: relative;
}

#productzoom {
	position: absolute;
	bottom: 0;
	border: 0 !important;
	right: 0;
	margin: 0 15px 15px 0;
	width: 20px !important;
	height: 21px !important;
}

.woocommerce nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li  {
	border: none !important;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul {
	border: none !important;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin: 0 2% 10px 0px !important;
	width:  23% !important;
	border: 1px solid #eee;
}

.woocommerce ul.products li.product.last , .woocommerce-page ul.products li.product.last {
	margin: 0 !important;
}

.page-title {
	float: left;
}

.orderby {
	margin-top: 20px;
}

th {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500 !important;
}

#slider-prev, #slider-next {
	opacity: 0;
}

.yith_magnifier_thumbnail {
	width: 100px !important;
}

.yith_magnifier_thumbnail img {
	width: 100px !important;
	height: auto;
}

.yith_magnifier_zoom_magnifier {
	background-repeat: no-repeat;
	background-color: #fff;
}

.brand {
	width: 33%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 200px;
}

.brand img {
	height: auto;
	max-width: 100%;
	width: auto;
	max-height: 180px;
	vertical-align: middle;
}

.brandcontainer {
	display: table;
	margin-bottom: 50px;
	width: 100%;
}

.woocommerce-pagination {
	margin: 40px 0 20px 0;
	float: left;
	width: 100%;
}

.cart_totals table {
	float: right;
	border: 0px !important;
}

.cart_totals table th {
}

.cart-collaterals h2 {
	display: none;
}

strong {
	font-weight: 500;
}

/* Responsive */

@media only screen and (max-width : 1100px) {
	.full {
		width: 100%;
	}

	.inner {
		width: 90%;
	}

	img {
		max-width: 100%;
		height: auto !important;
	}

	#page .inner {
		width: 90%;
	}

	#header ul li a {
		font-size: 9px;
	}

	#hero {
		width: 100%;
	}

	.home .half img {
		height: auto !important;
		min-height: 100% !important;
		min-width: 100% !important;
		width: auto !important;
		max-width: none;
	}

	.picks .image_container {
		height: auto;
	}

	#footer #logo {
		display: none;
	}

	.inner {
		width: 90% !important;
	}

	#basket_icon {
		width: 52px !important;
		margin-top: -4px !important;
	}

	.add_to_cart_button {
		font-size: 8px !important;
	}

	#header ul li ul li a {
		font-size: 10px !important
	}

	.sub-menu2 {
	margin-left: 210px !important;
	border-left: 0 !important;
	}

	#header ul li ul {
		width: 210px !important;
	}

	#searchsubmit {
		margin-right: 10px;
		margin-top: 3px;
	}

	input, textarea {
		-webkit-appearance: none;
	}

	#hero {
		height: auto !important;
	}

}


/* Images for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
#logo {
    background: url(images/megasolve2.jpg) no-repeat;
	background-size: 256px 59px;/* rest of your styles... */
}
}